* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    margin: 20px;
}

/* Calculadora */
main {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
}

/* Display */
#display {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: right;
    padding: 5px;
}

/* Botões */
.botao {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 8px;
    margin-top: 15px; /* números mais pra baixo */
}

button {
    height: 50px;
    font-size: 18px;
    cursor: pointer;
}

/* Botão zero maior */
.zero {
    grid-column: span 2;
}
